<template>
    <div>
        <div class="hero" :style="{ backgroundImage: `url(${backgroundImagePath})` }" >
        <div class="container">
            <div class="inner_hero">
            <div class="row">
                <div class="col-md-7">
                <p>Webify - All In One Elementor WordPress Theme</p>
                <h2>We Grow Brands, Create Experiences and Solve Business Problems.</h2>
                <button class="btn btn_theme">Contact Us</button>
                </div>
            </div>
            </div>

            <div class="inner_hero_tabs">
            <div class="row">

                <div class="col-md-3">
                <div class="inner_hero_tabs">
                    <img src="images/hero01.png" alt="">
                    <h2>Business Planing</h2>
                    <p>A Learning Specialist is an experienced special education professional.</p>
                </div>
                </div>

                <div class="col-md-3">
                <div class="inner_hero_tabs">
                    <img src="images/hero02.png" alt="">
                    <h2>Business Analysis</h2>
                    <p>A Learning Specialist is an experienced special education professional.</p>
                </div>
                </div>

                <div class="col-md-3">
                <div class="inner_hero_tabs">
                    <img src="images/hero03.png" alt="">
                    <h2>Brand Development</h2>
                    <p>A Learning Specialist is an experienced special education professional.</p>
                </div>
                </div>

                <div class="col-md-3">
                <div class="inner_hero_tabs">
                    <img src="images/hero04.png" alt="">
                    <h2>Problem Solving</h2>
                    <p>A Learning Specialist is an experienced special education professional.</p>
                </div>
                </div>

            </div>
            </div>

        </div>
        </div>

        <!-- About Section -->

        <section class="theme_section">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <div class="theme_heading">
                <h2>Award Winning Business Startup From San Jose, California</h2>
                <p>We Circle back push back for game plan it's a simple lift and shift <br> job or not enough bandwidth to go forward in style.</p>
                </div>
            </div>
            </div>

            <div class="row">
            <div class="col-md-12">
                
            </div>
            </div>

        </div>
        </section>
    </div>
</template>

<script>
import backgroundImagePath from '~/assets/images/hero_1.jpg'
    export default {
        data() {
            return { backgroundImagePath }
        }
    }
</script>

<style scoped>

</style>