.inner_hero {
    padding-top: 27%;
}

.inner_hero p {
    color: #fff;
    font-weight: 500;
}

.inner_hero h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 15px;
}
.btn_theme{
    background: #FE2C55;
    border-radius: 2px;
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 60px;
    transition: 0.3s;
}
.btn_theme:hover{
}
.inner_hero_tabs img {
    height: 60px;
}

.inner_hero_tabs h2 {
    color: #fff;
    font-size: 16px;
    padding-top: 12px;
}

.inner_hero_tabs p {
    color: #fff;
    font-size: 13px;
}
.inner_hero_tabs {
    padding-top: 40px;
}
.hero:before {
    content: "";
    background: #1b1b1ba6;
    width: 100%;
    height: 100%;
    position: absolute;
}
.sticky-wrapper.is-sticky .site-navbar .site-menu li a {
    color: #000 !important;
}
.sticky-wrapper.is-sticky .site-navbar .site-menu li a:hover {
    color: #000 !important;
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
    color: #000;
}
a.top_contact {
    background: white;
    padding: 10px 30px !important;
    border-radius: 80px;
    color: #000 !important;
}
.sticky-wrapper.is-sticky .site-navbar .site-menu li a.top_contact {
    background: #FE2C55;
    color: #fff !important;
}
.theme_section {
    padding: 70px  0 57px;
}

.theme_heading {
    text-align: center;
    width: 55%;
    margin: auto;
}

.theme_heading h2 {
    font-size: 33px;
    color: #000;
    padding-bottom: 5px;
}

.theme_heading p {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: 400;
}

.main_slide {
    background: url(.././images/ser1.jpg);
}
.grid {
	position: relative;
}

/* Common style */
.grid figure {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
    margin: 0;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.slide_icon {
    z-index: 1000;
    position: absolute;
    background: #fe2c55;
    width: 55px;
    height: 85px;
    top: 40%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.tab_services{
    background: linear-gradient(
        180deg
        , rgb(63 63 63 / 0%) 0, rgb(0 0 0) 100%);
        border-right: 2px solid white;
        padding: 0 0 45px;
}
.pZeor{
    padding: 0;
}
figure.effect-bubba {
	background: transparent;
}

figure.effect-bubba img {
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding-top: 40%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
    transition: .8s;
    font-weight: 700;
}

figure.effect-bubba p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
    font-size: 14px;
    text-transform: capitalize;
    color: #cecece;
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
figure.effect-bubba:hover h2{
    padding-top: 15%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
    transition: .5s;
}

figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

footer {
    background: #343333;
    padding-top: 50px;
}

@media screen and (max-width: 50em) {

	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}